{% extends "layouts/main.html" %}

{% set pageName = 'What is your most impressive juggling trick?' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
  <form novalidate method="post">

      {{ govukCharacterCount({
        name: "[new][tricks]",
        id: "[new][tricks]",
        label: {
          text: pageName,
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        maxwords: 100,
        value: data.new.tricks
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
   </form> 

   
   
    
  </div>
</div>

{% endblock %}


